*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
#signup label{
    font-size: 13px;
    width: 110px;
    float:left;
}

#signup fieldset{
    padding:2px;
    margin:10px;
}

#signup ul li{
    padding: 5px;
    margin:10px;
}

#signup button{
    display: block;
    border-radius: 20px;
    margin:auto;
    padding: 7px 25px;

}

#signup input[readonly]{
    border: none;
}

#signup input[type=text], #signup input[type=password], #signup input[type=tel],
#signup input[type=email]{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
    width: 200px;
}

#signup input[required]{
    border: 1px solid red;
}