ul{
    list-style-type: none;
    margin-left:-50px;
}

li:hover{
    background-color: black;
    color:white;
}

a{
    background-color: #ccc;
    color:black;
}

li{
    background-image: url("../images/book-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    padding-right: 10px;
    margin-left: 20px;
    line-height: 40px;
    float : left;
}