/* CSS (cascading style sheet) 우선 순위가 위에서 아래인 스타일 시트 */
/* 사용자 스타일 > 제작자 스타일 > 브라우저 기본 스타일 */
/* 적용 범위 : !important > 인라인 스타일 > id 스타일 > 클래스 스타일 > 타입 스타일 */
/* 전체선택자 (Universal Selector)*/
*{
    margin:0;
}

/* 타입 선택자 (Type selector or Element Selector)*/
p{
    padding: 8px;
    background-color: #999;
    font-style: italic;
}

/* 클래스 선택자 (Class Selector)*/
.accent{
    border: 1px solid #000; /*테두리*/
    padding: 5px;               /* 테두리와 내용 사이의 여백 */
}

.bg{
    background-color: #ddd;
}

/* 아이디 선택자 (ID selector) */
#container {
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000;
}

/* 그룹 선택자 (Group Selector) */
h1, p{
    text-align:center; /*중앙정렬*/
}