ul{
    list-style-type: none;
}
li{
    float:left;
}
a:hover{
    color:white;
    background-color: black;
}
a{
    color:black;
    display: block;
    padding:10px 20px;
    background-color: #ccc;
    text-decoration: none;
}